body{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
.container{
    width: 450px;
    height: 220px;
    background:#BDC7FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.checkbox {
  margin-top: 40px;
}
.btn{
    border: none;
    background-color:#D7F6CF;
    background-size: 50px;
    margin-top: 20px;
    width:150px;
    height: 28px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition-duration: 0,9s;
    
    
 
}
.btn:hover{
    background: rgb(250, 250, 250);
