
.boite{
     border: 1px solid;
    width: 30px;
    height: 40px;
    text-align: center;
}

@media only screen and(max-width:600px) {
    
}

.vert{
    background-color: #92DAC5;
}
.citron {
    background-color: #B6E1AF;
}
.orange {
    background-color: #EF9B83;
}
.bordeau {
    background-color:#894A69 ;
}
.pik {
    background-color:#B8767E ;
}
.madarine {
    background-color:#F1CAA6 ;
}
.jaune {
    background-color: #FFEFC3;
}
.claire {
    background-color: #F2FAC9;
}
.bleu {
    background-color: #7DB2D1;

}
.violet {
    background-color:#8578B7;
}



